@import 'vue3-easy-data-table/dist/style.css';

:root {
    --easy-table-border: 1px solid @c-oil;
    --easy-table-row-border: none;
    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 36px;
    --easy-table-header-font-color: @c-oil;
    --easy-table-header-background-color: @c-cyan;
    --easy-table-header-item-padding: 0px 10px;

    --easy-table-body-row-height: 36px;
    --easy-table-body-row-font-size: 14px;
    --easy-table-body-row-font-color: @c-snow;
    --easy-table-body-row-background-color: @c-oil;

    --easy-table-body-row-hover-font-color: @c-snow;
    --easy-table-body-row-hover-background-color: fade(@c-cyan, 50%);

    --easy-table-body-even-row-font-color: @c-snow;
    --easy-table-body-even-row-background-color: @c-mirage;
    --easy-table-body-item-padding: 0px 10px;

    --easy-table-footer-background-color: @c-cyan;
    --easy-table-footer-font-color: @c-oil;
    --easy-table-footer-font-size: 14px;
    --easy-table-footer-padding: 0px 5px;
    --easy-table-footer-height: 36px;

    --easy-table-rows-per-page-selector-width: auto;
    --easy-table-rows-per-page-selector-option-padding: 5px;
    --easy-table-rows-per-page-selector-z-index: auto;

    --easy-table-message-font-color: @c-mandy;
    --easy-table-message-font-size: 14px;
    --easy-table-message-padding: 20px;

    --easy-table-loading-mask-background-color: @c-oil;
    --easy-table-loading-mask-opacity: 0.7;

    --easy-table-scrollbar-track-color: transparent;
    --easy-table-scrollbar-color: transparent;
    --easy-table-scrollbar-thumb-color: @c-cyan;
    --easy-table-scrollbar-corner-color: transparent;

    --easy-table-buttons-pagination-border: 1px solid #e0e0e0;
}
